{
  "presets": [
    [
      "es2015",
      {
        "targets": {
          "browsers": [ "last 2 versions", "ie >= 9" ]
        },
        "modules": false,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": ["angularjs-annotate"]
}