<div class="table-paginator">
    <span translate="RowsPerPage">
    </span>
    <mr-select value="pagesInfo.elementsPerPage" options="pagesInfo.elementsPerPages" change="switchElementsPerPageCount(pagesInfo)"></mr-select>
    <button class="mr-button icon " 
                    ng-disabled="pagesInfo.currentPage<=1"
                    ng-click="DecreasePage()">
        <i class="zmdi zmdi-hc-2x zmdi-chevron-left"></i>
    </button>
    <span>
        {{(pagesInfo.currentPage-1)*pagesInfo.elementsPerPage.label+1}}
        -
        {{Math.min(pagesInfo.currentPage*pagesInfo.elementsPerPage.label, pagesInfo.totalElements)}}
         {{'Of' | translate}} {{pagesInfo.totalElements}}</span>
    <button class="mr-button icon " 
                    ng-disabled="(pagesInfo.currentPage)*pagesInfo.elementsPerPage.label+1>pagesInfo.totalElements"
                    ng-click="IncreasePage()">
        <i class="zmdi zmdi-hc-2x zmdi-chevron-right"></i>
    </button>
</div>