<div>
    <mr-panel>
        <header>
                {{'InviteFriendsFormTitle' | translate}}
        </header>
        <div class="mr social">
            <div class="social-item" ng-click="socials.Post($event,'facebook')">
                <i class="zmdi zmdi-hc-2x zmdi-facebook"></i>
            </div>
            <div class="social-item"  ng-click="socials.Post($event,'vkontakte')">
                <i class="zmdi zmdi-hc-2x zmdi-vk"></i>
            </div>
            <div class="social-item"  ng-click="socials.Post($event,'odnoklassniki')">
                <i class="zmdi zmdi-hc-2x zmdi-odnoklassniki"></i>
            </div>
            <div class="social-item"  ng-click="socials.Post($event,'twitter')">
                <i class="zmdi zmdi-hc-2x zmdi-twitter"></i>
            </div>
            <div class="social-item">
                <i class="zmdi zmdi-hc-2x zmdi-email"></i>
            </div>            
        </div>
    </mr-panel>
</div>